<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destination</key>
	<string>export</string>
	<key>iCloudContainerEnvironment</key>
	<string>Production</string>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://artifactory.digio.es/artifactory/ivoox-dev/ivooxNew_iOS26_v3.ipa</string>
		<key>displayImageURL</key>
		<string>https://is1-ssl.mzstatic.com/image/thumb/Purple211/v4/bb/62/83/bb62831f-bfd0-b13f-1585-f45a1a5c7074/AppIcon-0-0-1x_U007ephone-0-1-0-85-220.png/400x400ia-75.webp</string>
		<key>fullSizeImageURL</key>
		<string>https://is1-ssl.mzstatic.com/image/thumb/Purple211/v4/bb/62/83/bb62831f-bfd0-b13f-1585-f45a1a5c7074/AppIcon-0-0-1x_U007ephone-0-1-0-85-220.png/400x400ia-75.webp</string>
	</dict>
	<key>method</key>
	<string>release-testing</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.ivoox.ivoox</key>
		<string>iVoox Adhoc Release (with Carplay)</string>
		<key>com.ivoox.ivoox.RichNotificationsExtension</key>
		<string>Rich Extension Adhoc Release</string>
		<key>com.ivoox.ivoox.RichNotificationsExtensionUI</key>
		<string>ivoox Notification Content Extension - AdHoc</string>
		<key>com.ivoox.ivoox.Widget</key>
		<string>Widget AdHoc</string>
		<key>com.ivoox.ivoox.watchkitapp</key>
		<string>WatchApp AdHoc</string>
	</dict>
	<key>signingCertificate</key>
	<string>Apple Distribution</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>GXW5YSU35M</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
